/*

FILE: switch.css

CONTENT
1.- SWITCH
  1.1.- ON
  1.2.- OFF
	
*/

/* 1.- WRAPPER
   ----------------------------- */
.input-switch {
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  line-height: 90%;
  margin: 0;
  position: relative;
}

.input-switch input[type="checkbox"] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.input-switch input[type="checkbox"] + label {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 16px;
  outline: none;
  padding: 2px;
  position: relative;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.input-switch label {
  color: #c3c2c3;
  cursor: pointer;
  font-size: 13px;
  margin-left: 10px;
}

.input-switch input[type="checkbox"] + label:before, .input-switch input[type="checkbox"] + label:after {
  display: inline-block;
  position: absolute;
  content: "";
}

.input-switch>label:first-child {
  color: black;
}

/* 1.1.- WRAPPER: on
   ----------------------------- */
.input-switch input[type="checkbox"]:checked + label + label{
  color: black;
}

/* 1.2.- WRAPPER: off
   ----------------------------- */
/* background control */
.input-switch input[type="checkbox"] + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

/* button control*/
.input-switch input[type="checkbox"] + label:after {
  bottom: -2px;
  background-color: white;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}





/* style-switch-one */
.input-switch.style-switch-one input[type="checkbox"] + label{
  background-color: #c5c3c3;
  width: 38px;
}

.input-switch.style-switch-one input[type="checkbox"] + label:before {
  background-color: #d7d7d7;
}

.input-switch.style-switch-one input[type="checkbox"] + label:after {
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
  left: -2px;
  top: -2px;
  width: 18px;
}

.input-switch.style-switch-one input[type="checkbox"]:checked + label:before {
  background-color: #1891fb;
}

.input-switch.style-switch-one input[type="checkbox"]:checked + label {
  background-color: #0073da;
}

.input-switch.style-switch-one input[type="checkbox"]:checked + label:after {
  margin-left: 23px;
}

/* style-switch-two */
.input-switch.style-switch-two input[type="checkbox"] + label{
  background-color: #65bdff;
  width: 28px;
}

.input-switch.style-switch-two input[type="checkbox"] + label:before {
  background-color: #65bdff;
}

.input-switch.style-switch-two input[type="checkbox"] + label:after {
  border: 1px solid white;
  height: 10px;
  left: 2px;
  top: 2px;
  width: 10px;
}

.input-switch.style-switch-two input[type="checkbox"]:checked + label:before {
  background-color: #0091ff;
}

.input-switch.style-switch-two input[type="checkbox"]:checked + label {
  background-color: #0091ff;
}

.input-switch.style-switch-two input[type="checkbox"]:checked + label:after {
  margin-left: 12px;
}